APP_ENV=local
APP_URL=http://localhost/cosmetics

DB_HOST=localhost
DB_NAME=lumine_glow
DB_USER=root
DB_PASS=your_mysql_password

STRIPE_SECRET_KEY=your_stripe_key
STRIPE_API_BASE=https://api.stripe.com/v1